[submodule "Golang"]
	path = Golang
	url = git@github.com:titaniper/Golang.git
[submodule "websocket"]
	path = websocket
	url = git@github.com:titaniper/websocket.git
[submodule "spring"]
	path = spring
	url = git@github.com:titaniper/spring.git
[submodule "node"]
	path = node
	url = git@github.com:titaniper/node.git
[submodule "scala"]
	path = scala
	url = git@github.com:titaniper/scala.git
[submodule "rust"]
	path = rust
	url = git@github.com:titaniper/rust.git
